<div class="containercreate">
    <h2>Create a Card</h2>
    <p>Here you can create a post about the car which you are willing to lease to people with our website's help!</p>
  </div>

  <div class="backgroundcreate">
	<div class="container">
		<div class="contact-box">
			<div class="left"></div>
			<div class="right">
				<h2>Create a Post</h2>
				<input type="text" class="field" placeholder="Model">
				<input type="text" class="field" placeholder="imgaeUrl">
				<input type="text" class="field" placeholder="Doors">
				<input type="text" class="field" placeholder="Seats">
				<input type="text" class="field" placeholder="Transmission">
				<input type="text" class="field" placeholder="Price/Day">
				<button class="btn">Send</button>
			</div>
		</div>
	</div>
</div>
