<div class="mainscreen">
  <div class="best-offer">
    <h2>BEST OFFER</h2>
    <h3>Range Rover S7</h3>
    <ul class="list-unstyled">
      <li>
        <span>Doors</span>
        <span class="spec">4</span>
      </li>
      <li>
        <span>Seats</span>
        <span class="spec">6</span>
      </li>
      <li>
        <span>Lugage</span>
        <span class="spec">2 Suitcase/2 Bags</span>
      </li>
      <li>
        <span>Transmission</span>
        <span class="spec">Automatic</span>
      </li>
      <li>
        <span>Year</span>
        <span class="spec">Automatic</span>
      </li>
    </ul>
    <div class="best-rent">
      <span>$150/day</span>
      <a href="contact.html" class="rentBtn">Rent Now</a>
    </div>
  </div>

  <div class="listing">
    <p><i class="fa-solid fa-check"></i>New Cars</p>
    <p><i class="fa-solid fa-check"></i>Best Prices</p>
    <p><i class="fa-solid fa-check"></i>Low Mileages</p>
    <p><i class="fa-solid fa-check"></i>High Comfort</p>
  </div>
  <div class="middle">
    <div class="infomain">
      <h2>200+</h2>
      <p>Cars</p>
    </div>
    <div class="infomain">
      <h2>5+</h2>
      <p>Cities</p>
    </div>
    <div class="infomain">
      <h2>2000+</h2>
      <p>Clients</p>
    </div>
            
  </div>
</div>

<div class="container">
  
    <div class="controler-loop">
      <h3>Our Offer</h3>
      <p>Here you can find some of our most purchased vihicles in our park!</p>
      <p>
        <a href="#">Previous</a>
        <span>/</span>
        <a href="#">Next</a>
      </p>
    </div>
    <div class="looping-cars">

        <div class="item-1">
          <a href="#"><img src="/assets/images/homebg.jpg" alt="Image" class="img-fluid"></a>
          <div class="item-1-contents">
            <div class="text-center">
            <h3><a href="#">Range Rover S64 Coupe</a></h3>
            <div class="rating">
              <span><i class="fa-solid fa-star"></i></span>
              <span><i class="fa-solid fa-star"></i></span>
              <span><i class="fa-solid fa-star"></i></span>
              <span><i class="fa-solid fa-star"></i></span>
              <span><i class="fa-solid fa-star"></i></span>
            </div>
            <div class="rent-price"><span>$250/</span>day</div>
            </div>
            <ul class="specs">
              <li>
                <span>Doors</span>
                <span class="spec">4</span>
              </li>
              <li>
                <span>Seats</span>
                <span class="spec">5</span>
              </li>
              <li>
                <span>Transmission</span>
                <span class="spec">Automatic</span>
              </li>
              <li>
                <span>Minium age</span>
                <span class="spec">18 years</span>
              </li>
            </ul>
            <div class="rent-action">
              <a href="contact.html" class="btn btn-primary">Rent Now</a>
            </div>
          </div>
          
        </div>

        <div class="item-1">
          <a href="#"><img src="/assets/images/homebg.jpg" alt="Image" class="img-fluid"></a>
          <div class="item-1-contents">
            <div class="text-center">
            <h3><a href="#">Range Rover S64 Coupe</a></h3>
            <div class="rating">
              <span><i class="fa-solid fa-star"></i></span>
              <span><i class="fa-solid fa-star"></i></span>
              <span><i class="fa-solid fa-star"></i></span>
              <span><i class="fa-solid fa-star"></i></span>
              <span><i class="fa-solid fa-star"></i></span>
            </div>
            <div class="rent-price"><span>$250/</span>day</div>
            </div>
            <ul class="specs">
              <li>
                <span>Doors</span>
                <span class="spec">4</span>
              </li>
              <li>
                <span>Seats</span>
                <span class="spec">5</span>
              </li>
              <li>
                <span>Transmission</span>
                <span class="spec">Automatic</span>
              </li>
              <li>
                <span>Minium age</span>
                <span class="spec">18 years</span>
              </li>
            </ul>
            <div class="rent-action">
              <a href="contact.html" class="btn btn-primary">Rent Now</a>
            </div>
          </div>
        </div>

      </div>
       
</div>
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <h2 class="footer-heading mb-4">About Us</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
      </div>
      <div class="col-lg-8 ml-auto">
        <div class="row">
          <div class="col-lg-3">
            <h2 class="footer-heading mb-4">Quick Links</h2>
            <ul class="list-unstyled">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Testimonials</a></li>
              <li><a href="#">Terms of Service</a></li>
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
          <div class="col-lg-3">
            <h2 class="footer-heading mb-4">Quick Links</h2>
            <ul class="list-unstyled">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Testimonials</a></li>
              <li><a href="#">Terms of Service</a></li>
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
          <div class="col-lg-3">
            <h2 class="footer-heading mb-4">Quick Links</h2>
            <ul class="list-unstyled">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Testimonials</a></li>
              <li><a href="#">Terms of Service</a></li>
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
          <div class="col-lg-3">
            <h2 class="footer-heading mb-4">Quick Links</h2>
            <ul class="list-unstyled">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Testimonials</a></li>
              <li><a href="#">Terms of Service</a></li>
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-5 mt-5 text-center">
      <div class="col-md-12">
        <div class="border-top pt-5">
          <p>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
        </div>
      </div>

    </div>
  </div>
</footer>
