<div class="mainscreen">
  <div class="best-offer">
    <h2>BEST OFFER</h2>
    <h3>Range Rover S7</h3>
    <ul class="list-unstyled">
      <li>
        <span>Doors</span>
        <span class="spec">4</span>
      </li>
      <li>
        <span>Seats</span>
        <span class="spec">6</span>
      </li>
      <li>
        <span>Lugage</span>
        <span class="spec">2 Suitcase/2 Bags</span>
      </li>
      <li>
        <span>Transmission</span>
        <span class="spec">Automatic</span>
      </li>
      <li>
        <span>Year</span>
        <span class="spec">Automatic</span>
      </li>
    </ul>
    <div class="best-rent">
      <span>$150/day</span>
      <a href="contact.html" class="rentBtn">Rent Now</a>
    </div>
  </div>

  <div class="listing">
    <p><i class="fa-solid fa-check"></i>New Cars</p>
    <p><i class="fa-solid fa-check"></i>Best Prices</p>
    <p><i class="fa-solid fa-check"></i>Low Mileages</p>
    <p><i class="fa-solid fa-check"></i>High Comfort</p>
  </div>
  <div class="middle">
    <div class="infomain">
      <h2>200+</h2>
      <p>Cars</p>
    </div>
    <div class="infomain">
      <h2>5+</h2>
      <p>Cities</p>
    </div>
    <div class="infomain">
      <h2>2000+</h2>
      <p>Clients</p>
    </div>
            
  </div>
</div>

<div class="container">
  
  <div class="controler-loop">
    <h3>Our Offer</h3>
    <p>Here you can find some of our most purchased vihicles in our park!</p>
    <p>
      <a href="#">Previous</a>
      <span>/</span>
      <a href="#">Next</a>
    </p>
  </div>
  <div class="looping-cars">

      <div class="item-1">
        <a href="#"><img src="/assets/images/homebg.jpg" alt="Image" class="img-fluid"></a>
        <div class="item-1-contents">
          <div class="text-center">
          <h3><a href="#">Range Rover S64 Coupe</a></h3>
          <div class="rating">
            <span><i class="fa-solid fa-star"></i></span>
            <span><i class="fa-solid fa-star"></i></span>
            <span><i class="fa-solid fa-star"></i></span>
            <span><i class="fa-solid fa-star"></i></span>
            <span><i class="fa-solid fa-star"></i></span>
          </div>
          <div class="rent-price"><span>$250/</span>day</div>
          </div>
          <ul class="specs">
            <li>
              <span>Doors</span>
              <span class="spec">4</span>
            </li>
            <li>
              <span>Seats</span>
              <span class="spec">5</span>
            </li>
            <li>
              <span>Transmission</span>
              <span class="spec">Automatic</span>
            </li>
            <li>
              <span>Minium age</span>
              <span class="spec">18 years</span>
            </li>
          </ul>
          <div class="rent-action">
            <a href="contact.html" class="btn btn-primary">Rent Now</a>
          </div>
        </div>
        
      </div>

      <div class="item-1">
        <a href="#"><img src="/assets/images/homebg.jpg" alt="Image" class="img-fluid"></a>
        <div class="item-1-contents">
          <div class="text-center">
          <h3><a href="#">Range Rover S64 Coupe</a></h3>
          <div class="rating">
            <span><i class="fa-solid fa-star"></i></span>
            <span><i class="fa-solid fa-star"></i></span>
            <span><i class="fa-solid fa-star"></i></span>
            <span><i class="fa-solid fa-star"></i></span>
            <span><i class="fa-solid fa-star"></i></span>
          </div>
          <div class="rent-price"><span>$250/</span>day</div>
          </div>
          <ul class="specs">
            <li>
              <span>Doors</span>
              <span class="spec">4</span>
            </li>
            <li>
              <span>Seats</span>
              <span class="spec">5</span>
            </li>
            <li>
              <span>Transmission</span>
              <span class="spec">Automatic</span>
            </li>
            <li>
              <span>Minium age</span>
              <span class="spec">18 years</span>
            </li>
          </ul>
          <div class="rent-action">
            <a href="contact.html" class="btn btn-primary">Rent Now</a>
          </div>
        </div>
      </div>

    </div>
     
</div>

<div class="containerz">
  <div class="row">
    <div>
      <h2>How it works</h2>
      <p>Follow five simple steps to complete our form and you will have all of our cars available!</p>
    </div>
  </div>
  <div class="how-it-works">
    <div class="step">
      <span class="number"><span>01</span></span>
      <span class="caption">Time &amp; Place</span>
    </div>
    <div class="step">
      <span class="number"><span>02</span></span>
      <span class="caption">Car</span>
    </div>
    <div class="step">
      <span class="number"><span>03</span></span>
      <span class="caption">Details</span>
    </div>
    <div class="step">
      <span class="number"><span>04</span></span>
      <span class="caption">Checkout</span>
    </div>
    <div class="step">
      <span class="number"><span>05</span></span>
      <span class="caption">Done</span>
    </div>

  </div>
</div>
