<div class="containerdelete">
    <h2>Delete a Card</h2>
    <p>Here you can delete yor post about the car which you were willing to lease to people with our website's help!</p>
  </div>

<div class="backgroundelete">
	<div class="containerdel">
		<div class="contact-box">
			<div class="left"></div>
			<div class="right">
				<h2>Delete a Post</h2>
				<input type="text" class="field" placeholder="Model">
				<input type="text" class="field" placeholder="imgaeUrl">
				<input type="text" class="field" placeholder="Doors">
				<input type="text" class="field" placeholder="Seats">
				<input type="text" class="field" placeholder="Transmission">
				<input type="text" class="field" placeholder="Price/Day">
				<input type="text" class="field" placeholder="Year">
				<button class="btn">Delete</button>
			</div>
		</div>
	</div>
</div>
