.containercarslist {
    width: 100%;
    height: 90vh;
    background-image: url("/assets/images/carslistbg.jpg");
    background-size: cover;
    background-position: 0 -250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2em;
  }
  
  .containercarslist h2 {
    font-size: 4em;
    text-shadow: 2px 2px #080808;
  }
  
  .containercarslist > p {
    width: 80%;
    text-align: center;
    text-shadow: 2px 2px #080808;
  }

  .carsdiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carscontainer {
    padding: 5em 0;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
  }

  .colrow {
    flex: 0 0 30%;
  }

  .item-1 {
    width: 50%;
    height: 80%;
  }
  .item-1 img {
    width: 100%;
    height: auto;
  }
  
  .item-1 h3 a {
    text-decoration: none;
    color: rgb(128, 128, 248);
  }
  
  .item-1 i {
    color: orange;
  }
  
  .rent-action {
    margin: 20px 0;
  }
  
  .rent-action a {
    padding: 10px;
    background: rgb(235, 248, 46);
    border-radius: 5px;
    text-decoration: none;
    color: blue;
    line-height: 1;
  }
  .rent-action a:hover {
    background: salmon;
    color: white;
  }
  
  .text-center {
    text-align: center;
  }
  
  .item-1 .item-1-contents {
    padding: 20px;
    background: #fff;
  }
  .item-1 .item-1-contents h3 {
    font-size: 18px;
  }
  .item-1 .item-1-contents .rent-price > span {
    font-size: 1.7rem;
  }
  .item-1 .item-1-contents ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .item-1 .item-1-contents ul li {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #efefef;
    display: block;
    position: relative;
  }
  .item-1 .item-1-contents ul li .spec {
    position: absolute;
    right: 0;
  }
  .item-1 .item-1-contents ul li:last-child {
    border-bottom: none;
  }
  .item-1 .item-1-contents .action {
    margin-top: 20px;
  }