<div class="containerdetails">
    <h2>Car Details</h2>
    <p>You have clicked on a specific car offer of our park. If you have account with us you can book it for a desired amount of time, if available!</p>
  </div>

<div class="maindetailcontainer">
    <div class="detailandform">
        <div class="item-1 colrow">
            <a href="#"><img src="/assets/images/detailsbg.jpg" alt="Image" class="img-fluid"></a>
            <div class="item-1-contents">
              <div class="text-center">
              <h3><a href="#">model</a></h3>
              <div class="rating">
                <span><i class="fa-solid fa-star"></i></span>
                <span><i class="fa-solid fa-star"></i></span>
                <span><i class="fa-solid fa-star"></i></span>
                <span><i class="fa-solid fa-star"></i></span>
                <span><i class="fa-solid fa-star"></i></span>
              </div>
              <div class="rent-price"><span>$cost/</span>day</div>
              </div>
              <ul class="specs">
                <li>
                  <span>Doors</span>
                  <span class="spec">doors</span>
                </li>
                <li>
                  <span>Seats</span>
                  <span class="spec">seats</span>
                </li>
                <li>
                  <span>Transmission</span>
                  <span class="spec">transmission</span>
                </li>
                <li>
                  <span>Year</span>
                  <span class="spec">year</span>
                </li>
              </ul>
              <div class="rent-action">
                <a href="contact.html" class="btn btn-primary" disabled="true">Rent Now</a> 
                <a href="contact.html" class="btn btn-primary">Edit</a>
                <a href="contact.html" class="btn btn-primary">Delete</a>
              </div>
            </div>
          </div>
          <div class="infoandform">
            <div class="reservedbox">
                <h2>This car has been reserved on the dates that are listed bellow:</h2>
                
                <p>14-06-2023 for 4 days</p>
                <p>14-06-2023 for 4 days</p>
            </div>
            <div class="rentoform">
                <h2>Reserve this car</h2>
                <form action="">
                <label for="from">From</label>
                <input type="text" name="form">
                <label for="to">To</label>
                <input type="text" name="to">
                <label for="card">Card Number</label>
                <input type="text" name="card">
                <button type="submit">Pay</button>
                </form>
            </div>
          </div>
    </div>
</div>