<div class="containeregister">
    <h2>Register</h2>
    <p>Here you can find our register form and create your  new account if you doesn't have one. If you do have one, you can always click on log in button and go to your profile!</p>
  </div>

  <div class="registerform">
    
    <div class="form">
        <h1><i class="fas fa-user-circle"></i></h1>
        <div class="form-inner">
            <div class="space"></div>
     
            <input type="text" placeholder="Username"><br/>
            <div class="space"></div>
        
            <input type="email" placeholder="Email"><br/>

            <div class="space"></div>
     
            <input type="password" placeholder="Password"><br/>

            <div class="space"></div>
     
            <input type="password" placeholder="Repeat Password"><br/>

            <button class="submit-btn">Register</button>
            <button class="account-btn">Log in</button>
        </div>

     
    </div>
  </div>
