.containerserv {
  width: 100%;
  height: 90vh;
  background-image: url("/assets/images/servbg.jpg");
  background-size: cover;
  background-position: 0 -120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2em;
}

.containerserv h2 {
  font-size: 4em;
}

.servlist {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-1 {
  text-align: center;
}
.service-1 .service-1-icon {
  background: #fff;
  width: 90px;
  height: 90px;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
  border: 4px solid #007bff;
  border-radius: 50%;
}
.service-1 .service-1-icon > span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 3rem;
}
.service-1 .service-1-contents h3,
.service-1 .service-1-contents p {
  color: #fff;
}
.service-1 .service-1-contents h3 {
  margin-bottom: 10px;
  font-size: 20px;
}
.service-1.dark .service-1-contents h3,
.service-1.dark .service-1-contents p {
  color: #000;
}
.service-1.dark .service-1-contents h3 {
  margin-bottom: 10px;
  font-size: 30px;
}

.servtable {
  width: 70%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
}

.servtable > div {
  flex: 0 0 30%;
}

.post-entry {
  background: #fff;
  padding: 30px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.post-entry:hover {
  -webkit-box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
}
.post-entry h2 {
  font-size: 20px;
}
.post-entry *:last-child {
  margin-bottom: 0;
}


.post-entry-1 img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 50% 50%;
}

.post-entry-1 .meta {
  color: #ccc;
}
.post-entry-1 .meta a {
    color: rgb(0, 110, 255);
}

.post-entry-1 .post-entry-1-contents {
  background: #fff;
  padding: 20px;
}
.post-entry-1 .post-entry-1-contents h2 {
  font-size: 22px;
  margin-bottom: 20px;
}
.post-entry-1 .post-entry-1-contents h2 a {
  color: #000;
}
.post-entry-1 .post-entry-1-contents h2 a:hover {
  color: #007bff;
}

.post-entry-1.person-1 {
  text-align: center;
}
.post-entry-1.person-1 img {
  width: 90px;
  border-radius: 50%;
  margin: 0 auto -45px auto;
}
.post-entry-1.person-1 .post-entry-1-contents {
  padding-top: 4rem;
}

.blogcontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bloglist {
    height: 70%;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 2em;
    padding: 3em 0 6em 0;
}

.bloglist > div {
    flex: 0 0 31%;
}

.pagenumbers {
    font-size: 1.3em;

}

.pagenumbers > * {
    padding-right: 15px;
}

.pagenumbers a {
    color: #007bff;
}