<div class="containerlogin">
    <h2>Log In</h2>
    <p>Here you can find our log in form and go into your account. If you don't have one, you can always click on registration button and create new profile!</p>
  </div>

  <div class="loginform">
    
    <div class="form">
        <h1><i class="fas fa-user-circle"></i></h1>
        <div class="form-inner">
            <div class="space"></div>
     
            <input type="text" placeholder="Username"><br/>
            <div class="space"></div>
        
            <input type=password placeholder="Password"><br/>

            <button class="submit-btn">Log in</button>
            <button class="account-btn">Create Account</button>
        </div>

     
    </div>
  </div>